.ModalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes ModalWindow__animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
