.Comment {
  position: relative;

  &__wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;
    margin: 5px 0;

    border: 1px solid #e1e7ed;
    border-radius: 8px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  }

  &__avatar {
    width: 50px;
    height: 50px;

    @media (max-width: 767px) {
      left: -50px;
      width: 40px;
      height: 40px;
    }
  }

  &__body {
    flex-grow: 1;
  }

  &__header {
    position: relative;
    margin-bottom: 7px;
  }

  &__authorName {
    margin-right: 15px;

    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  &__date {
    font-size: 14px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__attachments {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__attachedImage {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  &__fileIcon {
    width: 30px;
    height: 30px;
    background-image: url('./icons/file-regular.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    display: inline-block;
  }

  &__answerButton {
    margin-bottom: 16px;
    padding-bottom: 2px;

    border-bottom: 1px solid #a7b7dd;
    color: #244696;
    transition: all 0.3s ease;

    &:hover {
      color: #db0107;
      border-bottom-color: #db0107;
    }
  }

  &--level-1 {
    margin-left: 0;
  }
  &--level-2 {
    margin-left: 50px;
  }
  &--level-3 {
    margin-left: 100px;
  }
  &--level-4 {
    margin-left: 150px;
  }
  &--level-5 {
    margin-left: 200px;
  }
  &--level-6 {
    margin-left: 250px;
  }
  &--level-7 {
    margin-left: 300px;
  }
  &--level-8 {
    margin-left: 350px;
  }
  &--level-9 {
    margin-left: 400px;
  }
  &--level-10 {
    margin-left: 450px;
  }

  @media (max-width: 767px) {
    margin-left: 50px;

    &--level-1 {
      margin-left: 0;
    }
  }
}

// .Modal {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   min-width: 300px;
//   max-width: 90vw;
//   max-height: 90vh;
//   overflow-y: auto;
//   background-color: white;
//   padding: 1rem;
//   border-radius: 4px;
//   outline: none;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

//   &__overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.6);
//   }
// }

// @keyframes Modal__animation {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
