.App {
  color: #4a4a4a;

  &__title {
    font-size: 40px;
  }

  &__bottom .Form {
    border: 2px solid #cdd3da;
    // background-color: #f5f5f5;
  }
}

.Button {
  border-bottom: 1px solid #a7b7dd;
  color: #244696;
  padding-bottom: 2px;
  // font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
  transition: all 0.3s ease;

  &:hover {
    color: #db0107;
    border-bottom-color: #db0107;
  }

  // background: #008CBA;
  // border: 1px solid #008CBA;
  // border-radius: 4px;
  // color: #fff;
  // font-size: 1rem;
  // padding: 0.5rem 1rem;
  // cursor: pointer;
  // text-decoration: none;
  // transition: all 0.3s ease;
  
  // &:hover {
  //   background: #0073a6;
  //   border-color: #0073a6;
  // }
}
